@font-face {
    font-family: Muli;
    src: url(../font/Muli.ttf);
  }
  
  html, body {
      margin:0;
      padding:0;
  }
  
  body{
      font: 25px Muli, sans-serif;
  }
  
  .homecover{
      height: 60vh;
      background-color: red;
      background-image: url("../imgs/machupicchu.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  #hometitle{
      color:white;
      font-size: 2.5em;
  }
  
  #discover{
      margin-top: 10px;
      list-style: none;
      background-color: #ff7777;
      transition: all 300ms;
  }
  
  #discover:hover{
      transform: scale(1.2);
  }
  
  .about{
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ff7777;
  }
  
  #head{
      color: white;
      text-align: center;
  }
  
  #text{
      color:white;
      width: 50vw;
      text-align: center;
  }
  
  .quiz{
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #1B1948;
  }
  
  #logo{
      float:left;
      margin: 30px;
      width: 150px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B1948;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 20px 16px;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  li a:hover:not(.active) {
      background-color: #ff7777;
  }
  
  .active {
      background-color: #4CAF50;
  }