@font-face{
    font-family: Muli;
    src: url(../font/Muli.ttf);
}

.topnav{
    z-index:10;
    position:sticky;
    top:0;
    font-family: Muli;
    justify-content: center;
    width:100%;
}

#logo{
    float:left;
    margin: 35px;
    width: 150px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B1948;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    margin: 20px 16px;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

li a:hover:not(.active){
    background-color: #ff7777;
}

.active{
    background-color: #4CAF50;
}
