@font-face {
    font-family: "Muli";
    src: url("/muli/Muli.ttf") format("ttf");
    src: url("/muli/Muli-Bold.ttf") format("ttf");
}

html, body {
    margin:0;
    padding:0;
}

body{
    font-family: Muli, sans-serif;
}

.cover{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: flex-start;
    height: 45vh;
    background-color: white;
    background-image: url("../imgs/tokyo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head{
    font-size: 5.0em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 40px;
    color: #1B1948;
}

#text{
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 40px;
    color: #1B1948;
}

.questionRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.question{
    background-color: #1B1948;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.recommendations{
    background-color: #ff7777;
    color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vw;
}

select {
  background-color: #ff7777;
  border-radius: 20px;
  color: white;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 20px;
  appearance: button;
  outline: none;
}

#submit{
    font-family: Muli, sans-serif;
    background-color: #ff7777;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 10vh;
    width: 100%;
    font-size: 2.0em;
    transition-duration: 0.4s;
}

#submit:hover {
  background-color: #1B1948;
  color: white;
}