@font-face{
    font-family: Muli;
    src: url(../font/Muli.ttf);
}

body, html{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color:black;  */
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
    background-color:grey;
    background-image: url("../imgs/ella.jpg");
    background-size: cover;
}

div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

#title{
    font: bold 40px Muli, sans-serif;
}

.firstform{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #1B1948;
    height:600px;
    width:500px;
    border-radius:7px;
}

.formbutton{
    font: bold 25px Muli, sans-serif;
}


input[type=text]{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input[type=email]{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input[type=password]{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input[type=text], select{
    width: 350px;
    height:30px;
    border: none;
    border-bottom:2px solid #FFF9DF;
    background-color: #1B1948;
    margin-bottom:20px;
}

input[type=password], select{
    width: 350px;
    height:30px;
    border: none;
    border-bottom: 2px solid#FFF9DF;
    background-color: #1B1948;
}

input[type=text]:focus {
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input[type=email]:focus{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input[type=email], select{
    font-size:25px;
    width: 350px;
    height:30px;
    border: none;
    border-bottom:2px solid#FFF9DF;
    background-color: #1B1948;
    margin-bottom:20px;
}

input[type=password]:focus{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
}

input::-webkit-input-placeholder{
    font: 25px Muli, sans-serif;
    color: #FFF9DF;
    opacity: 0.6;
}

.link{
    color:#FFF9DF;
    font: 16px Muli, sans-serif;
    transition: all 300ms;
}

.link:hover{
    color:#FF7777;
}

.button{
    width: 170px;
    height:50px;
    border-radius:7px;
    border-color:#FF7777;
    border-style: solid;
    background-color:#FF7777;
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
}

.button{
    opacity: 0.6;
    transition: all 300ms;
    cursor: pointer;
}

.button:hover{
    opacity: 1;
}

input:focus {
    outline:none;
}

a{
    text-decoration:none;
    font-size:25px;
    font-family:Muli;
    color:#FF7777;
}

a:hover{
    color:#FFF9DF;
}
