@font-face{
    font-family: Muli;
    src: url("muli/Muli.ttf") format("ttf");
}

html, body{
    font-family:Muli;
    margin: 0px;
    padding: 0px;
    font-size:25px;
}

body{
    color:white;
}

#title{
    position:relative;
    bottom:50px;
    font-size:75px;
    background-color:#FF7777;
    height:500px;
    padding-left:20px;
    display:flex;
    align-items:center;
}

.parentArticle{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction:row;
}

.eachArticle{
    color:white;
    background-color: #1B1948;
    width:500px;
    height:600px;
    margin-top: 50px;
    margin-left:50px;
    display:flex;
    flex-direction:column;
}

.content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    background-color:rgba(100,100,100,0.5);
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    padding-bottom:10px;
}

p{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#name{
    margin-top:70px;
}

#mark{
    margin-top:10px;
    margin-right:10px;
    width: 100px;
    height:50px;
    border-radius:7px;
    border-color:#FF7777;
    border-style: solid;
    background-color:#FF7777;
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
    transition: all 300ms;
}
#delete:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1B1948;
    border-color: #1B1948;


}

#mark:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1B1948;
    border-color: #1B1948;


}

#discover:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1B1948;
    border-color: #1B1948;


}

#profile:hover{
    cursor: pointer;
    transform: scale(1.1);
   

}




#buttonContainer{
    display:flex;
    justify-content:space-between; 
     margin-bottom:20px; 
}

#delete{
    
    margin-top:10px;
   
    margin-left:10px;
    
    width: 100px;
    height:50px;
    border-radius:7px;
    border-color:#FF7777;
    border-style: solid;
    background-color:#FF7777;
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
    transition: all 300ms;
}


#profile{
    float:right;
    margin-top:10px;
    margin-left:10px;
    width: 200px;
    height:50px;
    border-radius:7px;
    border-color:#FF7777;
    border-style: solid;
    background-color:#FF7777;
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
}

#discover{
    width: 130px;
    height:50px;
    border-radius:7px;
    border-color:#FF7777;
    border-style: solid;
    background-color:#FF7777;
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
    transition: all 300ms;
}


a{
    color:white;
    text-decoration:none;
}





#buttonArea{
    background-color:#1B1948;
    width:auto;
    height:80px;
    padding-right:20px;
}

textarea{
    resize:none;
}
