@font-face {
  font-family: Muli;
  src: url(Muli.ttf);
}

.topnav{
    border-style:solid;
    width: auto;
    font-family: Muli;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1B1948;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo{
    float:left;
    justify-content: center;
    width: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

#home{
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    border-right: none;
    background-color: #ff7777;
    opacity: 0.5;
}

#home:hover{
    background-color:#ff7777;
    opacity: 1;
}

li a:hover {
  background-color: #ff7777;
}
