@font-face {
    font-family: "Muli";
    src: url("/muli/Muli.ttf") format("ttf");
    src: url("/muli/Muli-Bold.ttf") format("ttf");
}

body{
    /* background-color:black;  */
    font: 25px Muli, sans-serif;  
    color: #FFF9DF; 
    background-color:grey; 
} 

div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    
    
}
#title{
    padding-bottom:30px; 
    font: bold 40px Muli, sans-serif; 
}
.firstform{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center;
    background-color: #1B1948;
    height:600px;
    width:500px; 
    border-radius:7px; 
}
.formbutton{
    font: bold 25px Muli, sans-serif;
     
}

input[type=text], select {
    width: 250px;
    height:30px;
    border: none;
    border-bottom:2px solid#FFF9DF;
    background-color: #1B1948
  }

input[type=password], select {
    width: 250px;
    height:30px;
    border: none;
    border-bottom: 2px solid#FFF9DF;
    background-color: #1B1948;
  }
  input[type=text]:focus {
    background-color: #FFF9DF;
    
  }
  input[type=password]:focus {
    background-color: #FFF9DF;
    
  }
  input::-webkit-input-placeholder  { 
    
    font: 25px Muli, sans-serif;  
    color: #FFF9DF; 
    opacity: 1;
  }
.link{
    color:#FFF9DF;
    font: 16px Muli, sans-serif; 
  }
.button{
    width: 170px;
    height:40px;
    border-radius:7px;
    border-color:#FF7777;
    background-color:#FF7777; 
    font: 25px Muli, sans-serif;
    color:#FFF9DF;
}
.button{
    opacity: 0.85;
    transition: 0.3s;
    cursor: pointer;   

}
.button:hover {opacity: 1}



input:focus {
    outline:none; 
}
